<!-- Header -->
<!-- <nav id="main_nav" class="navbar navbar-expand-lg navbar-light bg-white shadow">
    <div class="container d-flex justify-content-between align-items-center">
        <a class="navbar-brand h1" href="index.html">
            <i class='bx bx-buildings bx-sm text-dark'></i>
            <span class="text-dark h4">Purple</span> <span class="text-primary h4">Buzz</span>
        </a>
        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-toggler-success" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="navbar-toggler-success">
            <div class="flex-fill mx-xl-5 mb-2">
                <ul class="nav navbar-nav d-flex justify-content-between mx-xl-5 text-center text-dark">
                    <li class="nav-item">
                        <a class="nav-link btn-outline-primary rounded-pill px-3" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-outline-primary rounded-pill px-3" href="about.html">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-outline-primary rounded-pill px-3" href="work.html">Work</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-outline-primary rounded-pill px-3" href="pricing.html">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-outline-primary rounded-pill px-3" href="contact.html">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="navbar align-self-center d-flex">
                <a class="nav-link" href="#"><i class='bx bx-bell bx-sm bx-tada-hover text-primary'></i></a>
                <a class="nav-link" href="#"><i class='bx bx-cog bx-sm text-primary'></i></a>
                <a class="nav-link" href="#"><i class='bx bx-user-circle bx-sm text-primary'></i></a>
            </div>
        </div>
    </div>
</nav> -->
<!-- Close Header -->


<!-- Start Banner Hero -->
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/images/carousel-img1.jpg" alt="">
        <div class="overlay"></div>

        <div class="container">
          <div style="margin: -100px;" class="carousel-caption text-start animate__animated animate__slideInLeft mx-1">
            <h1>Avoid Load Shedding</h1>
            <p class="lead">Decrease your grid dependency by getting a solar installation and support powered by Capital Creative Technologies</p>
            <a class="btn btn-lg btn-primary button" href="/get-a-quote">Get a quote</a>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/images/carousel-img2.jpg" alt="">
        <div class="overlay"></div>


        <div class="container">
          <div style="margin: -100px;" class="mx-1 carousel-caption text-start animate__animated animate__slideInLeft">
            <h1>All your lighting solutions</h1>
            <p class="lead">Your answer to Commercial, Industrial, and Residential lighting needs.</p>
            <a class="btn btn-lg btn-primary button" href="/get-a-quote">Get A Quote</a>
            
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/images/carousel-img3.jpg" alt="">
        <div class="overlay"></div>

        <div class="container">
          <div style="margin: -100px;" class="mx-1 carousel-caption text-start animate__animated animate__slideInLeft">
            <h1>Stay safe, protect your home or offices</h1>
            <p class="lead">When it comes to providing the best security camera system services for the enterprise sector, no one knows the landscape better than Us</p>
            <a class="btn btn-lg btn-primary button" href="/get-a-quote">Get A Quote</a>
            
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
<!-- End Banner Hero -->



<div class="services-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <span>Capital Creative Services</span>
            <h2>Services we provide</h2>
            <p>We have a very diverse product portfolio. Some of the services we provide include the following</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="service-item">
            <i class="fa fa-screwdriver-wrench"></i>
            <h4>Electrical Maintenance</h4>
            <p></p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="service-item">
            <i class="fa fa-solar-panel"></i>
            <h4>Solar Installations</h4>
            <p></p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="service-item">
            <i class="fa fa-lightbulb"></i>
            <h4>Lighting Solutions</h4>
            <p></p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="service-item">
            <i class="fa fa-microchip"></i>
            <h4>Electrical Hardware</h4>
            <p></p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="service-item">
            <i class="fa fa-video"></i>
            <h4>CCTV</h4>
            <p></p>
          </div>
        </div>
       
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="service-item">
            <i class="fa fa-fingerprint"></i>
            <h4>Alarm Systems & Access Control</h4>
            <p></p>
          </div>
        </div>
      </div>
    </div>
  </div>






<!-- Start View Work -->
<!-- <section class="bg-secondary">
    <div class="container py-5">
        <div class="row d-flex justify-content-center text-center">
            <div class="col-lg-2 col-12 text-light align-items-center">
                <i class='display-1 bx bxs-box bx-lg'></i>
            </div>
            <div class="col-lg-7 col-12 text-light pt-2">
                <h3 class="h4 light-300">Great transformations successful</h3>
                <p class="light-300">Quis ipsum suspendisse ultrices gravida.</p>
            </div>
            <div class="col-lg-3 col-12 pt-4">
                <a href="#" class="btn btn-primary rounded-pill btn-block shadow px-4 py-2">View Our Work</a>
            </div>
        </div>
    </div>
</section> -->
<!-- End View Work -->

<!-- Start Recent Work -->
<section class="py-5 mb-5">
    <div class="container">
        <div class="recent-work-header row text-center pb-5">
            <h2 class="col-md-6 m-auto h2 semi-bold-600 py-5">Recent Projects</h2>
        </div>
        <div class="row gy-5 g-lg-5 mb-4">

            
            <div class="col-md-4 mb-3" *ngFor="let project of projects" >
                <a href="#" class="recent-work card border-0 shadow-lg overflow-hidden" style="height: 100%; background-color: #ccc;">
                    <img class="recent-work-img card-img" [src]="project?.imageUrl" alt="">
                    <div class="recent-work-vertical card-img-overlay d-flex align-items-end">
                        <div class="recent-work-content text-start mb-3 ml-3 text-dark">
                            <h3 class="card-title light-300">{{project?.title}}</h3>
                            <p class="card-text">{{project?.shortDescription}}</p>
                        </div>
                    </div>
                </a>
            </div>

           

        </div>
    </div>
</section>
<!-- End Recent Work -->



<!-- Start Footer -->
<footer class="bg-secondary pt-4">
    <div class="container">
        <div class="row py-4">

            <div class="col-lg-3 col-12 align-left">
                <a class="navbar-brand" href="index.html">
                    <i class='bx bx-buildings bx-sm text-light'></i>
                    <span class="text-light h5 semi-bold-600">Capital Creative Technology</span>
                </a>
                <p class="text-light my-lg-4 my-2">
                    Your home to everything electronic
                </p>
                <ul class="list-inline footer-icons light-300">
                    <li class="list-inline-item m-0">
                        <a class="text-light" target="_blank" href="https://www.facebook.com/capitalcreativetechnologies/">
                            <i class='bx bxl-facebook-square bx-md'></i>
                        </a>
                    </li>
                    
                </ul>
            </div>

            <div class="col-lg-3 col-md-4 my-sm-0 mt-4">
                <h3 class="h4 pb-lg-3 text-light light-300">Pages</h3>
                    <ul class="list-unstyled text-light light-300">
                        <li class="pb-2">
                            <i class='bx-fw bx bxs-chevron-right bx-xs'></i><a class="text-decoration-none text-light" routerlink="/">Home</a>
                        </li>
                        <li class="pb-2">
                            <i class='bx-fw bx bxs-chevron-right bx-xs'></i><a class="text-decoration-none text-light py-1" routerlink="/about">About Us</a>
                        </li>
                        <li class="pb-2">
                            <i class='bx-fw bx bxs-chevron-right bx-xs'></i><a class="text-decoration-none text-light py-1" routerlink="/services/electrical-maintenance">Electrical Maintenance</a>
                        </li>
                        <li class="pb-2">
                            <i class='bx-fw bx bxs-chevron-right bx-xs'></i><a class="text-decoration-none text-light py-1" routerlink="/services/solar-installations">Solar Installations</a>
                        </li>
                        <li class="pb-2">
                            <i class='bx-fw bx bxs-chevron-right bx-xs'></i><a class="text-decoration-none text-light py-1" routerlink="/services/cctv">CCTV</a>
                        </li>
                        <li class="pb-2">
                            <i class='bx-fw bx bxs-chevron-right bx-xs'></i><a class="text-decoration-none text-light py-1" routerlink="/services/alarm-systems">Alarm Systems & Access Control</a>
                        </li>
                        <li class="pb-2">
                            <i class='bx-fw bx bxs-chevron-right bx-xs'></i><a class="text-decoration-none text-light py-1" routerlink="/services/electrical-hardware">Electrical Hardware</a>
                        </li>
                        <li class="pb-2">
                            <i class='bx-fw bx bxs-chevron-right bx-xs'></i><a class="text-decoration-none text-light py-1" routerlink="/services/lighting-solutions">Lighting Installations and Supply</a>
                        </li>
                        <li class="pb-2">
                            <i class='bx-fw bx bxs-chevron-right bx-xs'></i><a class="text-decoration-none text-light py-1" routerlink="/get-a-quote">Get a quote</a>
                        </li>
                        <li class="pb-2">
                            <i class='bx-fw bx bxs-chevron-right bx-xs'></i><a class="text-decoration-none text-light py-1" routerlink="/contact">COntact</a>
                        </li>
                    </ul>
            </div>

         

            <div class="col-lg-3 col-md-4 my-sm-0 mt-4">
                <h2 class="h4 pb-lg-3 text-light light-300">Contact Details</h2>
                <ul class="list-unstyled text-light light-300">
                    <li class="pb-2">
                        <i class="fa-solid fa-phone"></i> &nbsp; <a class="text-decoration-none text-light py-1" href="tel:+263 78 226 2038">+263 78 226 2038</a>
                    </li>
                    <li class="pb-2">
                        <i class="fa-solid fa-envelope"></i> &nbsp; <a class="text-decoration-none text-light py-1" href="tel:+263 78 226 2038">info@capitalcreativetech.co.zw</a>
                    </li>
                  
                </ul>
            </div>

        </div>
    </div>

    <div class="w-100 bg-primary py-3">
        <div class="container">
            <div class="row pt-2">
                <div class=" col-sm-12">
                    <p class="text-lg-start text-center text-light light-300">
                        © Copyright 2023 Capital Creative Technology. All Rights Reserved.
                    </p>
                </div>
                <!-- <div class="col-lg-6 col-sm-12">
                    <p class="text-lg-end text-center text-light light-300">
                        Designed by <a rel="sponsored" class="text-decoration-none text-light" href="https://rodney.co.zw" target="_blank"><strong>Rodney</strong></a>
                    </p>
                </div> -->
            </div>
        </div>
    </div>

</footer>