<div class="wrapper">
    <div class="hero">
      <h1 class="my-5">Alarm Systems & Access Control</h1>
      <button
        pButton
        type="button"
        label="Get In touch"
        (click)="navigateToContact()"
      ></button>
    </div>
  
    <div id="details" class="basic-3">
      <div class="container">
        <div class="row">
          <div class="col-lg-7">
            <div class="image-container">
              <img
                class="img-fluid"
                src="/assets/images/access-control.jpg"
                alt="alternative"
              />
            </div>
          </div>
          <div class="col-lg-5">
            <div class="text-container">
              <h2>Where care about access control and alarms</h2>
              <p>
                Any sort of facility must have security systems. They guarantee
                continuity in corporate operations, the security of material
                possessions, intellectual property, and most importantly, human
                life. Because each type of property is susceptible to a different
                set of risks, commercial properties, airports, retail stores,
                industrial enterprises, financial and governmental institutions,
                schools, medical facilities, power-, oil-, and gas companies, as
                well as residential complexes, all need their own special set of
                safety and security measures.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  
  
    <div class="sta-section">
      <div class="row">
        <div
          class="col-12 p-5 d-flex justify-content-center align-items-center flex-column h-full"
        >
          <p class="display-6 mt-5 text-center">
            For all your access control needs and alarms, get in touch
          </p>
          <button
            pButton
            type="button"
            label="Get in touch"
            (click)="navigateToContact()"
          ></button>
        </div>
      </div>
    </div>
  </div>
  