<div class="wrapper">
    <div class="hero">
        <h1 class="my-5">Electrical Hardware</h1>
        <button pButton type="button" label="Visit shop" (click)="navigateToContact()"></button>
    </div>




    <div id="details" class="basic-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="image-container">
                        <img class="img-fluid" src="/assets/images/electrical-hardware.jpg" alt="alternative">
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="text-container">
                        <h2>Electrical Hardware</h2>
                        <p>Our extensive product range has got you covered</p>
                        <p>
                            Being relatively smaller than the larger companies, Capital Creative Technologies offers “the personal
                            touch”, coupled with extensive levels of stock and efficient delivery schedules. We
                            constantly strive to improve your shopping experience by offering a friendly service &
                            stocking products you need at the right price!.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="basic-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="text-container">
                        <h2>Hardware Shop Products</h2>
                        <p>	Solar panels</p>
                        <p>	Borehole pumps</p>
                        <p> Batteries</p>
                        <p> Inveters</p>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="image-container">
                        <img class="img-fluid" src="assets/images/detail.jpg" alt="alternative">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="sta-section">
        <div class="row">
            <div class="col-12 p-5 d-flex justify-content-center align-items-center flex-column h-full">
                <p class="display-6 mt-5 text-center">For Electrical products visit our shop now</p>
                <button pButton type="button" label="Visit shop" (click)="navigateToContact()"></button>

            </div>
        </div>
    </div>

</div>