<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/images/carousel-img1.jpg" alt="">
        <div class="overlay"></div>

        <div class="container">
          <div style="margin: -100px;" class="carousel-caption text-start animate__animated animate__slideInLeft mx-1">
            <h1>Avoid Load Shedding</h1>
            <p class="lead">Decrease your grid dependency by getting a solar installation and support powered by Capital Creative Technologies</p>
            <a class="btn btn-lg btn-primary button" href="/get-a-quote">Get a quote</a>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/images/carousel-img2.jpg" alt="">
        <div class="overlay"></div>


        <div class="container">
          <div style="margin: -100px;" class="mx-1 carousel-caption text-start animate__animated animate__slideInLeft">
            <h1>All your lighting solutions</h1>
            <p class="lead">Your answer to Commercial, Industrial, and Residential lighting needs.</p>
            <a class="btn btn-lg btn-primary button" href="/get-a-quote">Get A Quote</a>
            
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/images/carousel-img3.jpg" alt="">
        <div class="overlay"></div>

        <div class="container">
          <div style="margin: -100px;" class="mx-1 carousel-caption text-start animate__animated animate__slideInLeft">
            <h1>Stay safe, protect your home or offices</h1>
            <p class="lead">When it comes to providing the best security camera system services for the enterprise sector, no one knows the landscape better than Us</p>
            <a class="btn btn-lg btn-primary button" href="/get-a-quote">Get A Quote</a>
            
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>