<div class="wrapper">
    <div class="hero">
        <h1 class="my-5">Electrical Maintenance</h1>
        <button pButton type="button" label="Get an electrician" (click)="navigateToContact()"></button>
    </div>




    <div id="details" class="basic-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="image-container">
                        <img class="img-fluid" src="/assets/images/detail1.jpg" alt="alternative">
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="text-container">
                        <h2>Electrical Maintenance Services</h2>
                        <p>At Capital Creative Technologies we do electrical maintenance with our team of electricians. Our
                            electricians are the best to get the job done quickly because they are highly trained and
                            licensed</p>
                        <p>
                            We maintain boreholes, lights, plugs, house wiring, meter boxes, solar installations and
                            electrical machinery in industries. As a result of our reliable electrical engineering
                            services, we are trusted by our customers.
                        </p>
                        <p>
                            Locally we get our electrical hardware from well established shops like Electrosales,
                            Halsteds, ProPlastics, and Flint therefore our workmanship is always guaranteed for quality.
                        </p>
                        <p>As for our cabling we choose Frog and Cafca for they supply good quality cabling which is the
                            main part of every electrical installation. We choose the best electrical solutions possible
                            because we believe Customer is king!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="basic-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="text-container">
                        <h2>Electrical Maintenance Services</h2>
                        <p>Electrical circuits separations to office separations and home renovations</p>
                        <p>Electrical wiring of homes, churches, industries, offices and shops</p>
                        <p>Electrical Power Upgrades</p>
                        <p>Solar System Installations</p>
                        <p>24 Hour Electrical faults</p>
                        <p>Borehole Installations</p>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="image-container">
                        <img class="img-fluid" src="assets/images/detail.jpg" alt="alternative">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="sta-section">
        <div class="row">
            <div class="col-12 p-5 d-flex justify-content-center align-items-center flex-column h-full">
                <p class="display-6 mt-5 text-center">For Electrical services, get in touch with us.</p>
                <button pButton type="button" label="Get an electrician" (click)="navigateToContact()"></button>

            </div>
        </div>
    </div>

</div>