<trogon-energy-homepage-hero></trogon-energy-homepage-hero>



<div class="services-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <span>Capital Creative Services</span>
            <h2>Services we provide</h2>
            <p>We have a very diverse product portfolio. Some of the services we provide include the following</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="service-item">
            <i class="fa fa-screwdriver-wrench"></i>
            <h4>Electrical Maintenance</h4>
            <p></p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="service-item">
            <i class="fa fa-solar-panel"></i>
            <h4>Solar Installations</h4>
            <p></p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="service-item">
            <i class="fa fa-lightbulb"></i>
            <h4>Lighting Solutions</h4>
            <p></p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="service-item">
            <i class="fa fa-microchip"></i>
            <h4>Electrical Hardware</h4>
            <p></p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="service-item">
            <i class="fa fa-video"></i>
            <h4>CCTV</h4>
            <p></p>
          </div>
        </div>
       
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="service-item">
            <i class="fa fa-fingerprint"></i>
            <h4>Alarm Systems & Access Control</h4>
            <p></p>
          </div>
        </div>
      </div>
    </div>
  </div>


<section class="py-5 mb-5">
    <div class="container">
        <div class="recent-work-header row text-center pb-5">
            <h2 class="col-md-6 m-auto h2 semi-bold-600 py-5">Recent Projects</h2>
        </div>
        <div class="row gy-5 g-lg-5 mb-4">

            <!-- Start Recent Work -->
            <div class="col-md-4 mb-3">
                <a href="#" class="recent-work card border-0 shadow-lg overflow-hidden">
                    <img class="recent-work-img card-img" src="assets/images/electrician.jpg" alt="Card image">
                    <div class="recent-work-vertical card-img-overlay d-flex align-items-end">
                        <div class="recent-work-content text-start mb-3 ml-3 text-dark">
                            <h3 class="card-title light-300">Social Media</h3>
                            <p class="card-text">Ullamco laboris nisi ut aliquip ex</p>
                        </div>
                    </div>
                </a>
            </div><!-- End Recent Work -->
            <!-- Start Recent Work -->
            <div class="col-md-4 mb-3">
                <a href="#" class="recent-work card border-0 shadow-lg overflow-hidden">
                    <img class="recent-work-img card-img" src="assets/images/electrician.jpg" alt="Card image">
                    <div class="recent-work-vertical card-img-overlay d-flex align-items-end">
                        <div class="recent-work-content text-start mb-3 ml-3 text-dark">
                            <h3 class="card-title light-300">Social Media</h3>
                            <p class="card-text">Ullamco laboris nisi ut aliquip ex</p>
                        </div>
                    </div>
                </a>
            </div><!-- End Recent Work -->
            <!-- Start Recent Work -->
            <div class="col-md-4 mb-3">
                <a href="#" class="recent-work card border-0 shadow-lg overflow-hidden">
                    <img class="recent-work-img card-img" src="assets/images/electrician.jpg" alt="Card image">
                    <div class="recent-work-vertical card-img-overlay d-flex align-items-end">
                        <div class="recent-work-content text-start mb-3 ml-3 text-dark">
                            <h3 class="card-title light-300">Social Media</h3>
                            <p class="card-text">Ullamco laboris nisi ut aliquip ex</p>
                        </div>
                    </div>
                </a>
            </div><!-- End Recent Work -->
            <!-- Start Recent Work -->
            <div class="col-md-4 mb-3">
                <a href="#" class="recent-work card border-0 shadow-lg overflow-hidden">
                    <img class="recent-work-img card-img" src="assets/images/electrician.jpg" alt="Card image">
                    <div class="recent-work-vertical card-img-overlay d-flex align-items-end">
                        <div class="recent-work-content text-start mb-3 ml-3 text-dark">
                            <h3 class="card-title light-300">Social Media</h3>
                            <p class="card-text">Ullamco laboris nisi ut aliquip ex</p>
                        </div>
                    </div>
                </a>
            </div><!-- End Recent Work -->

            

        </div>
    </div>
</section>


