<div class="wrapper">
    <div class="hero">
        <h1 class="my-5">Solar Installtions</h1>
        <button pButton type="button" label="Get a quote" (click)="navigateToContact()"></button>
    </div>




    <div id="details" class="basic-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="image-container">
                        <img class="img-fluid" src="/assets/images/solar-1.jpg" alt="alternative">
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="text-container">
                        <h2>Solar installations</h2>
                        <p>At Capital Creative Technologies we can install any size of solar system for you. Our solar installations
                            range in size from small systems that simply power lights and a small television to big
                            systems that power the whole house or office complex. We can design, supply and install all
                            sizes of solar systems.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="basic-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="text-container">
                        <h2>All sizes of solar systems</h2>
                        <p>Home solar systems</p>
                        <p>Commercial solar system</p>
                        <p>Solar pumping systems</p>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="image-container">
                        <img class="img-fluid" src="assets/images/solar2.jpg" alt="alternative">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="sta-section">
        <div class="row">
            <div class="col-12 p-5 d-flex justify-content-center align-items-center flex-column h-full">
                <p class="display-6 mt-5 text-center">For solar installation services, get in touch with us.</p>
                <button pButton type="button" label="Get an electrician" (click)="navigateToContact()"></button>

            </div>
        </div>
    </div>

</div>