<div class="wrapper">
    <div class="hero">
        <h1 class="my-5">Lighting Installations and Supply</h1>
        <button pButton type="button" label="Get a quote" (click)="navigateToContact()"></button>
    </div>




    <div id="details" class="basic-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="image-container">
                        <img class="img-fluid" src="/assets/images/lighting-img-1.jpg" alt="alternative">
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="text-container">
                        <h2>Lighting Installations and Supply</h2>
                        <p class="lead">Security , Decorative and street lighting installations</p>
                        <p>
                            At Capital Creative Technologies we offer lighting installations for all your security, decorative and
                            street lighting needs
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="basic-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="text-container">
                        <h2>Hardware Shop Products</h2>
                        <p>Security lighting equipment eg: floodlights, motion sensors and daylight switches</p>
                        <p>Installation of ceiling downlights/ recessed lighting</p>
                        <p>Stage and conference lighting</p>
                        <p>Installation of rope lighting</p>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="image-container">
                        <img class="img-fluid" src="assets/images/lighting-img-2.jpg" alt="alternative">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="sta-section">
        <div class="row">
            <div class="col-12 p-5 d-flex justify-content-center align-items-center flex-column h-full">
                <p class="display-6 mt-5 text-center">For your lighting solutions, get in touch with us.</p>
                <button pButton type="button" label="Visit our shop" (click)="navigateToContact()"></button>

            </div>
        </div>
    </div>

</div>