<div class="wrapper">
    <div class="hero">
        <h1 class="my-5">Borehole Pump Installations</h1>
        <button pButton type="button" label="Get an quote" (click)="navigateToContact()"></button>
    </div>




    <div id="details" class="basic-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="image-container">
                        <img class="img-fluid" src="/assets/images/detail.jpg" alt="alternative">
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="text-container">
                        <h2>Borehole Pump Installations</h2>
                        <p>The availability of solar borehole pump technology for pumping water from boreholes has now
                            become a regular feature in both the domestic water supply and farming water supply
                            scenarios.</p>
                        <p>
                            Capital Creative Technologies offers a variety of solar solutions to pump water, which is a cost-effective
                            alternative to using electricity. Solar borehole pump installations are very reliable
                            because they help provide water to places with unreliable power supply or no power supply at
                            all.
                        </p>
                        <p>
                            The solar borehole pumping systems that Taqon Electrico install, offer great value as they
                            come from reputable manufacturers who produce quality equipment.
                        </p>
                        <p>Get in touch with us today for your solar borehole pump installations and enjoy the benefits.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="basic-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="text-container">
                        <h2>Best Solar Borehole Pumps</h2>
                        <p>AC borehole pump sizing, fitting and supplying</p>
                        <p>Digital borehole control boxing sizing fitting and supplying</p>
                        <p>Booster pump sizing, fitting and supplying</p>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="image-container">
                        <img class="img-fluid" src="assets/images/detail.jpg" alt="alternative">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="sta-section">
        <div class="row">
            <div class="col-12 p-5 d-flex justify-content-center align-items-center flex-column h-full">
                <p class="display-6 mt-5 text-center">Do you need a reliable solar borehole pump? Get in touch with us.</p>
                <button pButton type="button" label="Get an electrician" (click)="navigateToContact()"></button>

            </div>
        </div>
    </div>

</div>