.about-hero-wrapper{
    height: 500px;
    background: linear-gradient(to right, rgba(0,0,0,.7), rgba(0,0,0,.7)), url('/assets/images/about-hero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header{
    // background-color: var(--primary-red);
    background: linear-gradient(to right, rgba(0,0,0,.7), rgba(0,0,0,.7)), url('/assets/images/about-showcase.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 40vh;
    color: #fefefe;
}