<div class="admin-sidebar">
    <div class="logo">
      <img src="/assets/images/logo.jpg" />
    </div>
    <div class="links">
      <ul>
        <li>
          <a routerLink="/"><i class="pi pi-home"></i> Dashboard</a>
        </li>
        <li>
          <a routerLink="/projects"><i class="pi pi-folder"></i> Projects</a>
        </li>
        <li>
          <a routerLink="/products"><i class="pi pi-briefcase"></i> Products</a>
        </li>
        <li>
          <a routerLink="/products/category"><i class="pi pi-list"></i> Product Categories</a>
        </li>
        <!-- <li>
          <a routerLink="/brands"><i class="pi pi-tag"></i> Brands</a>
        </li>
        <li>
          <a routerLink="/articles"><i class="pi pi-file"></i> Articles</a>
        </li>
        <li>
          <a routerLink="/articles/categories"><i class="pi pi-list"></i>Article Categories</a>
        </li> -->
        <li>
          <a routerLink="/messages"><i class="pi pi-envelope"></i> Messages</a>
        </li>
        
        <!-- <li>
          <a routerLink="/users"><i class="pi pi-users"></i> Users</a>
        </li> -->
        <li>
          <a class="logout"  (click)="logoutUser()"><i class="pi pi-sign-out"></i> Logout</a>
        </li>
      </ul>
    </div>
  </div>
  