<div class="wrapper">
    <div class="hero">
      <h1 class="my-5">CCTV Sales & installations</h1>
      <button
        pButton
        type="button"
        label="Get In Touch"
        (click)="navigateToContact()"
      ></button>
    </div>
  
    <div id="details" class="basic-3">
      <div class="container">
        <div class="row">
          <div class="col-lg-7">
            <div class="image-container">
              <img
                class="img-fluid"
                src="/assets/images/cctv-1.jpg"
                alt="alternative"
              />
            </div>
          </div>
          <div class="col-lg-5">
            <div class="text-container">
              <h2>CCTV installations</h2>
              <p>
                Our commercial CCTV systems are designed to monitor your property,
                people, and operations around-the-clock using high-definition
                cameras and cutting-edge technology, including infrared
                capability. 
              </p>
              <p>
                At Capital Creative, we specialize in developing custom
                solutions that are tailored to your needs. Whether you require
                perimeter CCTV cameras only, or a more comprehensive solution that
                places cameras in key locations inside and outside your premises,
                we are able to specify and install a system that covers every
                angle required.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="basic-4">
      <div class="container">
        <div class="row">
          <div class="col-lg-5">
            <div class="text-container">
              <h2>CCTV Sales</h2>
              <p>What makes Capital Creative Different is We dont just install CCTV solutions. We also supply CCTV solutions based on your needs</p>
            </div>
          </div>
          <div class="col-lg-7">
            <div class="image-container">
              <img
                class="img-fluid"
                src="assets/images/cctv-2.jpg"
                alt="alternative"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="sta-section">
      <div class="row">
        <div
          class="col-12 p-5 d-flex justify-content-center align-items-center flex-column h-full"
        >
          <p class="display-6 mt-5 text-center">
            For Electrical products visit our shop now
          </p>
          <button
            pButton
            type="button"
            label="Visit shop"
            (click)="navigateToContact()"
          ></button>
        </div>
      </div>
    </div>
  </div>
  