.basic-1 {
	padding-top: 7.75rem;
}

.basic-1 .h2-heading {
	text-align: center;
    color: var(--primary-green);
}

.basic-1 .heading-decoration {
	margin-bottom: 1rem;
}

.basic-1 .p-heading {
	margin-bottom: 3.75rem;
	text-align: center;
}